/*************************/
/* Animation for rainbow */
/*************************/

.rainbowAnimate {
  -webkit-animation-name: rainbowAnimate;
  animation-name: rainbowAnimate;
}

@-webkit-keyframes rainbowAnimate {
    0% {
        -webkit-transform-origin: bottom center;
        -webkit-transform: rotate(0deg);
        -webkit-animation-timing-function: linear;
    }

    100% {
        -webkit-transform-origin: bottom center;
        -webkit-transform: rotate(360deg);
        -webkit-animation-timing-function: linear;
    }
}

@keyframes rainbowAnimate {
    0% {
        transform-origin: bottom center;
        transform: rotate(0deg);
        animation-timing-function: linear;
    }

    100% {
        transform-origin: bottom center;
        transform: rotate(360deg);
        animation-timing-function: linear;
    }
}

/***************************/
/* Animation for Shrinking */
/***************************/

.shrinkToCenter {
  -webkit-animation-name: shrinkToCenter;
  animation-name: shrinkToCenter;
}

@-webkit-keyframes shrinkToCenter {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1);
        -webkit-animation-timing-function: linear;
    }

    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(0);
        -webkit-animation-timing-function: linear;
    }
}

@keyframes shrinkToCenter {
    0% {
        transform-origin: center center;
        transform: scale(1);
        animation-timing-function: linear;
    }

    100% {
        transform-origin: center center;
        transform: scale(0);
        animation-timing-function: linear;
    }
}

/****************************/
/* Animation for Zooming In */
/****************************/

.zoomInToExit {
  -webkit-animation-name: zoomInToExit;
  animation-name: zoomInToExit;
}

@-webkit-keyframes zoomInToExit {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1);
        -webkit-opacity: 1;
        -webkit-animation-timing-function: linear;
    }

    75% {
        -webkit-opacity: 1;
    }

    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(12);
        -webkit-opacity: 0;
        -webkit-animation-timing-function: linear;
    }
}

@keyframes zoomInToExit {
    0% {
        transform-origin: center center;
        transform: scale(1);
        opacity: 1;
        animation-timing-function: linear;
    }

    75% {
        opacity: 1;
    }

    100% {
        transform-origin: center center;
        transform: scale(12);
        opacity: 0;
        animation-timing-function: linear;
    }
}

/***********************************/
/* Animation for Sliding to Bottom */
/***********************************/

.slideToBottom {
  -webkit-animation-name: slideToBottom;
  animation-name: slideToBottom;
}

@-webkit-keyframes slideToBottom {
    0% {
        -webkit-transform: translateY(0%);
        -webkit-animation-timing-function: linear;
    }

    100% {
        -webkit-transform: translateY(5000%);
        -webkit-animation-timing-function: linear;
    }
}

@keyframes slideToBottom {
    0% {
        transform: translateY(0%);
        animation-timing-function: linear;
    }

    100% {
        transform: translateY(5000%);
        animation-timing-function: linear;
    }
}

/***************************/
/* Animation for Spiraling */
/***************************/

.spiralIn {
  -webkit-animation-name: spiralIn;
  animation-name: spiralIn;
}

@-webkit-keyframes spiralIn
{
    0% {
        -webkit-transform-origin: bottom center;
        -webkit-transform: scale(2)
                   rotate(120deg)
                   translate(350px)
                   rotate(-120deg);
        -webkit-animation-timing-function: linear;
    }

    50% {
        -webkit-transform-origin: bottom center;
        -webkit-transform: scale(1)
                   rotate(480deg)
                   translate(175px)
                   rotate(-840deg);
        -webkit-animation-timing-function: linear;
    }

    100% {
        -webkit-transform-origin: bottom center;
        -webkit-transform: scale(0)
                   rotate(840deg)
                   translate(0px)
                   rotate(-840deg);
        -webkit-animation-timing-function: linear;
    }
}


@keyframes spiralIn
{
    0% {
        transform-origin: bottom center;
        transform: scale(2)
                   rotate(120deg)
                   translate(350px)
                   rotate(-120deg);
        animation-timing-function: linear;
    }

    50% {
        transform-origin: bottom center;
        transform: scale(1)
                   rotate(480deg)
                   translate(175px)
                   rotate(-840deg);
        animation-timing-function: linear;
    }

    100% {
        transform-origin: bottom center;
        transform: scale(0)
                   rotate(840deg)
                   translate(0px)
                   rotate(-840deg);
        animation-timing-function: linear;
    }
}
