/*************************/
/* Animation for rainbow */
/*************************/

.rainbowAnimate {
    -webkit-animation-name: rainbowAnimate;
    animation-name: rainbowAnimate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}

@-webkit-keyframes rainbowAnimate {
    0% {
        -webkit-transform-origin: bottom center;
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform-origin: bottom center;
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rainbowAnimate {
    0% {
        transform-origin: bottom center;
        transform: rotate(0deg);
    }

    100% {
        transform-origin: bottom center;
        transform: rotate(360deg);
    }
}

/***************************/
/* Animation for Shrinking */
/***************************/

.shrinkToCenter {
    -webkit-animation-name: shrinkToCenter;
            animation-name: shrinkToCenter;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode:both;
            animation-fill-mode:both;
}

@-webkit-keyframes shrinkToCenter {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(0);
    }
}

@keyframes shrinkToCenter {
    0% {
        transform-origin: center center;
        transform: scale(1);
    }

    100% {
        transform-origin: center center;
        transform: scale(0);
    }
}

/****************************/
/* Animation for Zooming In */
/****************************/

.zoomInToExit {
    -webkit-animation-name: zoomInToExit;
            animation-name: zoomInToExit;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode:both;
            animation-fill-mode:both;
}

@-webkit-keyframes zoomInToExit {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1);
        -webkit-opacity: 1;
    }

    80% {
        -webkit-opacity: 1;
    }

    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(12);
        -webkit-opacity: 0;
    }
}

@keyframes zoomInToExit {
    0% {
        transform-origin: center center;
        transform: scale(1);
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform-origin: center center;
        transform: scale(12);
        opacity: 0;
    }
}

/*********************************/
/* Animation for Zooming In Fast */
/*********************************/

.zoomOutToExitFast {
    -webkit-animation-name: zoomOutToExitFast;
            animation-name: zoomOutToExitFast;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode:both;
            animation-fill-mode:both;
    -webkit-transform-origin: center center;
            transform-origin: center center;
}

@-webkit-keyframes zoomOutToExitFast {
    0% {
        -webkit-transform: scale(200);
    }

    100% {
        -webkit-transform: scale(0);
    }
}

@keyframes zoomOutToExitFast {
    0% {
        transform: scale(200);
    }

    100% {
        transform: scale(0);
    }
}

/***********************************/
/* Animation for Sliding to Bottom */
/***********************************/

.slideToBottom {
    -webkit-animation-name: slideToBottom;
            animation-name: slideToBottom;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode:both;
            animation-fill-mode:both;
}

@-webkit-keyframes slideToBottom {
    0% {
        -webkit-transform: translateY(0%);
    }

    100% {
        -webkit-transform: translateY(5000%);
    }
}

@keyframes slideToBottom {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(5000%);
    }
}

/***************************/
/* Animation for Spiraling */
/***************************/

.spiralIn {
    -webkit-animation-name: spiralIn;
            animation-name: spiralIn;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode:both;
            animation-fill-mode:both;
}

@-webkit-keyframes spiralIn {
    0% {
        -webkit-transform-origin: bottom center;
        -webkit-transform: scale(2)
                   rotate(120deg)
                   translate(350px)
                   rotate(-120deg);
    }

    50% {
        -webkit-transform-origin: bottom center;
        -webkit-transform: scale(1)
                   rotate(480deg)
                   translate(175px)
                   rotate(-840deg);
    }

    100% {
        -webkit-transform-origin: bottom center;
        -webkit-transform: scale(0)
                   rotate(840deg)
                   translate(0px)
                   rotate(-840deg);
    }
}

@keyframes spiralIn {
    0% {
        transform-origin: bottom center;
        transform: scale(2)
                   rotate(120deg)
                   translate(350px)
                   rotate(-120deg);
    }

    50% {
        transform-origin: bottom center;
        transform: scale(1)
                   rotate(480deg)
                   translate(175px)
                   rotate(-840deg);
    }

    100% {
        transform-origin: bottom center;
        transform: scale(0)
                   rotate(840deg)
                   translate(0px)
                   rotate(-840deg);
    }
}

/*********************************/
/* Animation for Twinkling Stars */
/*********************************/

.twinkleLeft {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-name: twinkleLeft;
            animation-name: twinkleLeft;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-fill-mode:both;
            animation-fill-mode:both;
}

@-webkit-keyframes twinkleLeft {
    0% {
        -webkit-transform: translateX(0);
        -webkit-opacity: 1;
    }

    17% {
        -webkit-opacity: .1;
    }

    34% {
        -webkit-opacity: .8;
    }

    50% {
        -webkit-opacity: .5;
    }

    67% {
        -webkit-opacity: .9;
    }

    83% {
        -webkit-opacity: .4;
    }

    100% {
        -webkit-transform: translateX(-300px);
        -webkit-opacity: 0;
    }
}

@keyframes twinkleLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    17% {
        opacity: .1;
    }

    34% {
        opacity: .8;
    }

    50% {
        opacity: .5;
    }

    67% {
        opacity: .9;
    }

    83% {
        opacity: .4;
    }

    100% {
        transform: translateX(-300px);
        opacity: 0;
    }
}

/*****************************/
/* CSS for Spinning Diamonds */
/*****************************/

.spinDiamond {
    -webkit-animation-name: spinDiamond;
            animation-name: spinDiamond;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 0.25s;
            animation-duration: 0.25s;
    -webkit-animation-fill-mode:both;
            animation-fill-mode:both;
    -webkit-transform-origin: center center;
            transform-origin: center center;
}

@-webkit-keyframes spinDiamond {
    0% {
        -webkit-transform: scaleX(0)
                           rotate(45deg);
    }

    50% {
        -webkit-transform: scaleX(1)
                           rotate(45deg);
    }

    100% {
        -webkit-transform: scaleX(0)
                           rotate(45deg);
    }
}

@keyframes spinDiamond {
    0% {
        transform: scaleX(0)
                   rotate(45deg);
    }

    50% {
        transform: scaleX(1)
                   rotate(45deg);
    }

    100% {
        transform: scaleX(0)
                   rotate(45deg);
    }
}



/**********************/
/* CSS for Footprints */
/**********************/

.footprint {
    -webkit-animation-name: footprint;
            animation-name: footprint;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-fill-mode:both;
            animation-fill-mode:both;
    -webkit-transform-origin: center center;
            transform-origin: center center;
}

@-webkit-keyframes footprint {
    0% {
        -webkit-transform: scale(1)
                           rotateZ(-30deg);
    }

    99% {
        -webkit-transform: scale(1)
                           rotateZ(-30deg);
    }

    100% {
        -webkit-transform: scale(0)
                           rotateZ(-30deg);
    }
}

@keyframes footprint {
    0% {
        transform: scale(1)
                   rotateZ(-30deg);
    }

    99% {
        transform: scale(1)
                   rotateZ(-30deg);
    }

    100% {
        transform: scale(0)
                   rotateZ(-30deg);
    }
}

/**********************************************/
/* CSS for making something disappear quickly */
/**********************************************/

.disappear {
    -webkit-animation-name: disappear;
            animation-name: disappear;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: .75s;
            animation-duration: .75s;
    -webkit-animation-fill-mode:both;
            animation-fill-mode:both;
}

@-webkit-keyframes disappear {
    0% {
        -webkit-opacity: 1;
    }

    99% {
        -webkit-opacity: 1;
    }

    100% {
        -webkit-opacity: 0;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
