html, body {
    color: #707070;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

svg {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.arrow-scroll {
    z-index: 1;
}

.center {
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#facebook:hover, .fa-facebook-square:hover {
    color: #3b5998;
}

#github:hover, .fa-github:hover {
    color: #000000;
}

#linkedin:hover, .fa-linkedin-square:hover {
    color: #1883bb;
}

.fa-times {
    color: red;
}

.hide {
    display: none;
}

.navbar {
    background: #ffffff;
    border: none;
    width: 100%;

}

.node circle {
    stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.playback {
    color: #000000;
}

#content {
    padding: 50px 0 70px;
}

#loading-screen-div {
    height: 100%;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

#score {
    font-size: 200%;
}
