html, body {
    color: #707070;
    margin: 0;
    padding: 0;
}

svg {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.arrow-scroll {
    z-index: 1;
}

.center {
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-github {
    color: #000000;
}

.fa-linkedin-square {
    color: #1883bb;
}

.fa-times {
    color: red;
}

.hide {
    display: none;
}

.navbar {
  background: transparent;
  border: none;
}

.node circle {
    stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.playback {
    color: #000000;
}

#loading-screen-div {
    height: 100%;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

#score {
    font-size: 200%;
}
