html, body {
    margin: 0;
    padding: 0;
}

svg {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.node circle {
    stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

#loading-screen-div {
    background-color: #ededed;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-github {
    color: #000000;
}

.fa-linkedin-square {
    color: #1883bb;
}

#start-message {
    color: #707070;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
