{% extends 'base.html' %}

{% block title %}
    {{ user.name }}'s Account
{% endblock %}

{% block content %}
    <h3>Update Account Details</h3>
    <form method='POST' action='/update_account' id='update-account-form'>
        <label for='field-name'>Name:</label>
            <input type='text' id='field-name' name='name' value='{{ user.name }}' />
            <br />

        <label for='field-email'>Email Address:</label>
            <input type='email' id='field-email' name='email' value='{{ user.email }}' />
            <br />

        <label for='field-zipcode'>Postal Code:</label>
            <input type='text' id='field-zipcode' name='zipcode' value='{{ user.zipcode }}'/>
            <br />

        <label for='field-country'>Country:</label>
            <select class="form-control" id="field-country" name='country' value='countries.get{{ user.country }}'>
                {% for country in countries %}
                    <option value={{ country.code }} 
                        {% if user.country == country.code %}
                            selected
                        {% endif %}
                    >{{ country.name }}</option>
                {% endfor %}
            </select>
            <br />

        <input type='submit' class='btn btn-default' />
    </form>
    <br />

    <h3>Update Password</h3>
    <form method='POST' action='/update_account' id='update-password-form'>
        <label for='field-old-password'>Current Password:</label>
            <input type='password' id='field-old-password' name='old-password' />
            <br />

        <label for='field-password'>Choose Password:</label>
            <input type='password' id='field-password' name='password' />
            <br />

        <label for='field-confirm-password'>Confirm Password:</label>
            <input type='password' id='field-confirm-password' />
            <br />

        <input type='submit' class='btn btn-default' value='Update'>
    </form>
{% endblock %}

{% block more_scripts %}
    <script src='/static/js/messages.js'></script>
    <script src='/static/js/register.js'></script>
    <script src='/static/js/account.js'></script>
{% endblock %}

{% block jasmine_specs %}
    <script src="/static/tests/register-spec.js"></script>
{% endblock %}