<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} TITLE GOES HERE {% endblock %}</title>

    <meta name='name' content='Muse'>
    <meta name='author' content='ainjii'>
    <meta name='image' content='https://raw.githubusercontent.com/ainjii/muse/master/favicon.ico'>
    <meta name='description' content='Muse is a creativity inspiration tool. Use preset sets of sounds and animations to make beautiful creations. Hackbright Academy student project by Angie Roscioli.'>

    <script src='https://code.jquery.com/jquery.js'></script>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet'>

    {% block links_and_scripts %}{% endblock %}

</head>
<body>
        <a href='/'>Home</a>
    {% if 'user_id' in session %}
        <a href='/logout'>Log out</a>
        <a href='/profile'>Profile</a>
        <div id='save-message-div'></div>
    {% else %}
        <a href='/login'>Log in</a>
    {% endif %}

    <br>
    <br>

    <div class='container'>
        {% for flashed_msg in get_flashed_messages() %}
            {{ flashed_msg }}
        {% endfor %}

        {% block content %}
            BODY GOES HERE
        {% endblock %}
    </div>

    <script href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.4/js/tether.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>

    {% block more_scripts %}{% endblock %}


    {% if g.jasmine_tests %}
        <link rel="stylesheet" href="/static/jasmine/jasmine.css">
        <script src="/static/jasmine/jasmine.js"></script>
        <script src="/static/jasmine/jasmine-html.js"></script>
        <script src="/static/jasmine/boot.js"></script>
        {% block jasmine_specs %}{% endblock %}
    {% endif %}

</body>
</html>
