<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} TITLE GOES HERE {% endblock %}</title>

    <meta name='name' content='Muse'>
    <meta name='author' content='ainjii'>
    <meta name='image' content='https://raw.githubusercontent.com/ainjii/muse/master/favicon.ico'>
    <meta name='description' content='Muse is a creativity inspiration tool. Use preset sets of sounds and animations to make beautiful creations. Hackbright Academy student project by Angie Roscioli.'>

    <script src='https://code.jquery.com/jquery.js'></script>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet'>

    {% block links_and_scripts %}{% endblock %}

</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Muse</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
          {% if 'user_id' in session %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="/profile">Profile</a></li>
                  <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          {% else %}
            <li>
              <a href='/login'>Log in</a>
            </li>
          {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class='container'>
        {% for flashed_msg in get_flashed_messages() %}
            {{ flashed_msg }}
        {% endfor %}

        <div id='save-message-div'></div>

        {% block content %}
            BODY GOES HERE
        {% endblock %}
    </div>

    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>

    {% block more_scripts %}{% endblock %}


    {% if g.jasmine_tests %}
        <link rel='stylesheet' href='/static/tests/jasmine/jasmine.css'>
        <script src='/static/tests/jasmine/jasmine.js'></script>
        <script src='/static/tests/jasmine/jasmine-html.js'></script>
        <script src='/static/tests/jasmine/boot.js'></script>
        {% block jasmine_specs %}{% endblock %}
    {% endif %}


<!-- <div id='embed'>
    <textarea>
        &lt;iframe src="localhost:5000" style="border: 3px solid #ccc" width="640" height="480"&gt;&lt;/iframe&gt;
    </textarea>
</div> -->

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="https://www.github.com/ainjii/muse">
             <i class="fa fa-2x fa-github" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/angieroscioli">
            <i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/angie.nichol">
            <i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href='#'><i class="fa fa-2x fa-code" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href='#'><i class="fa fa-2x fa-question" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <script>
        var hideEmbed = function(e) {
            if (!!$embed.has(e.target).length) {
                return;
            }

            $embed.fadeOut(function() {
                embedding = false;
            });

            $window.unbind('click', hideEmbed);
        };

        $('#embed-button').click(function(e) {
          e.preventDefault();
          $hint.fadeOut();
          $merchandise.fadeOut();
          $embed.fadeIn(function() {
            embedding = true;
            $embed.find('textarea').select();
            $window.bind('click', hideEmbed);
          });
        });
    </script>
</body>
</html>
