{% extends 'base.html' %}

{% block title %}
    Play with Muse!
{% endblock %}

{% block links_and_scripts %}
    <link href='/static/css/magic.min.css' rel='stylesheet'>
    <link href='/static/css/animations.css' rel='stylesheet'>
{% endblock %}

{% block content %}
    {% if konami %}
        <svg id='svg' />
        <a href='/'>
          <button class='btn center' id='home-button'>Go Home</button>
        </a>
    {% else %}
        <div id='loading-screen-div'>
          <div class='center'>
            <h3>Loading Resources ...</h3>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="audio-progress">
                <span class="sr-only"></span>
              </div>
            </div>
          </div>
        </div>

        <svg id='svg' />
        <div class='center hide' id='start-message'>
            Press ? to begin.
        </div>

        <!-- Help Modal -->
        <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">How to Use Muse</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    Muse is a creativity inspiration tool. Use preset collections of sounds and animations to make beautiful creations. <br><br>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">[ a-z ]</div>
                  <div class="col-md-9">Make Sounds and Animations</div>
                </div>

                <div class="row">
                  <div class="col-md-3">[ enter ]</div>
                  <div class="col-md-9">Start/Stop Recording</div>
                </div>

                <div class="row">
                  <div class="col-md-3">[ space ]</div>
                  <div class="col-md-9">Change Audio/Visual Theme</div>
                </div>

                <div class="row">
                    <div class="col-md-3">[ ? ]</div>
                    <div class="col-md-9">Show Help Dialog</div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

    {% endif %}
{% endblock %}

{% block more_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
    <script src='/static/js/svg.js'></script>

    {% if konami %}
        <script>playKonamiPrize();</script>
    {% else %}

        <script src='/static/js/themes.js'></script>
        <script src='/static/js/messages.js'></script>
        <script src='/static/js/record.js'></script>
        <script src='/static/js/animations.js'></script>
    {% endif %}
{% endblock %}

{% block jasmine_specs %}
    <script src='/static/tests/themes-spec.js'></script>]
    <script src="/static/tests/record-spec.js"></script>
{% endblock %}
