{% extends 'base.html' %}

{% block title %}
    Public Playback
{% endblock %}

{% block links_and_scripts %}
    <link href='/static/css/magic.min.css' rel='stylesheet'>
    <link href='/static/css/styles.css' rel='stylesheet'>
    <link href='/static/css/animations.css' rel='stylesheet'>
{% endblock %}

{% block content %}
    <svg id='svg' data-id={{ recording_id }} />
{% endblock %}

{% block more_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
    <script src='/static/js/themes.js'></script>
    <script src='/static/js/record.js'></script>
    <script src='/static/js/animations.js'></script>
    <script src='/static/js/playback.js'></script>
{% endblock %}

{% block jasmine_specs %}
    <script src='/static/tests/themes-spec.js'></script>
    <script src='/static/tests/playback-spec.js'></script>
{% endblock %}