{% extends 'base.html' %}

{% block title %}
    Log in to Muse!
{% endblock %}

{% block content %}
    <h3>Log in to Muse!</h3>
    <form method='POST' action='/login' id='login-form'>
        <div class='form-group'>
            <label for='field-email'>E-mail Address</label>
                <input type='email' class='form-control' id='field-email' name='email' />
        </div>

        <div class='form-group'>
            <label for='field-password'>Password</label>
                <input type='password' class='form-control' id='field-password' name='password' />
        </div>

        <input type='submit' class='btn btn-default' />
    </form>
    <br />

    <div>Don't have an account? Register <a href='/register'>here</a>.</div>
{% endblock %}
