{% extends 'base.html' %}

{% block title %}
    Log in to Muse!
{% endblock %}

{% block content %}
    <form method='POST' action='/login' id='login-form'>
        <label for='field-email'>E-mail Address: </label>
            <input type='email' id='field-email' name='email' />

        <label for='field-password'>Password: </label>
            <input type='password' id='field-password' name='password' />

        <input type='submit' />
    </form>

    <div>Don't have an account? Register <a href='/register'>here</a>.</div>
{% endblock %}
