{% extends 'base.html' %}

{% block title %}
    Popular Recordings
{% endblock %}

{% block content %}
    <h3>Most Played Recordings</h3>
    {% if popular_recordings %}
        <ol>
            {% for recording in popular_recordings %}
                <li>
                    <a href='/listen/{{ recording.id }}'>{{ recording.name }}</a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        No recordings have been viewed yet. <br />
        You can make a new recording on the <a href='/'>homepage</a>, or playback one of your creations from your <a href='/recordings'> recordings page</a>.
    {% endif %}
{% endblock %}