{% extends 'base.html' %}

{% block title %}
    Popular Recordings
{% endblock %}

{% block content %}
    <h3>Most Played Recordings</h3>
    <br />

    {% if popular_recordings %}
        <div class='table-responsive'>
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th>Recording Name</th>
                        <th>Author</th>
                        <th>Play Count</th>
                    </tr>
                </thead>
                {% for recording in popular_recordings %}
                    <tr>
                        <td><a href='/listen/{{ recording.id }}'>{{ recording.name }}</a></td>
                        <td>{{ recording.user.name }}</td>
                        <td>{{ recording.views|length }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        No recordings have been viewed yet. <br />
        You can make a new recording on the <a href='/'>homepage</a>, or playback one of your creations from your <a href='/recordings'> recordings page</a>.
    {% endif %}
{% endblock %}