{% extends 'base.html' %}

{% block title %}
    {{ user.name }}'s Profile
{% endblock %}

{% block content %}

    <h2 id='profile-header'>{{ user.name }}'s Profile</h2>
    <br>
    {% for recording in user.recordings %}
        <form class='renameForm' action='#' data-id={{ recording.id }}>
            <input type='text' name='title' value='{{ recording.name }}' />
            <input type='hidden' name='id' value={{ recording.id }} />
            <br>
        </form>

        <button class='btn playback' data-id={{ recording.id }}>
            Play
        </button>
        <button class='btn delete' data-id={{ recording.id }}>
            Delete
        </button>

    {% endfor %}

{% endblock %}

{% block more_scripts %}
    <script src='/static/js/profile.js'></script>
{% endblock %}
