{% extends 'base.html' %}

{% block title %}
    {{ user.name }}'s Profile
{% endblock %}

{% block content %}

    <h2 id='profile-header'>{{ user.name }}'s Profile</h2>
    <br>
    {% for recording in user.recordings %}
        <form class='rename-form' action='#' data-id={{ recording.id }}>
            <input type='text' name='title' value='{{ recording.name }}' />
            <input type='hidden' name='id' value={{ recording.id }} />
            <br>
        </form>

        <a href='/listen/{{ recording.id }}' style='color:black;'><button class='btn playback' data-id={{ recording.id }}>Play</button></a>
        <button class='btn delete' data-id={{ recording.id }}>
            Delete
        </button>
        <button class='btn toggle-public public' data-id={{ recording.id }}>
            {% if recording.public %}
                Make Private
            {% else %}
                Make Public
            {% endif %}
        </button>
        <div class="fb-share-button" data-href="http://www.google.com" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" >Share</a></div>

    {% endfor %}

{% endblock %}

{% block more_scripts %}
    <script src='/static/js/messages.js'></script>
    <script src='/static/js/profile.js'></script>
{% endblock %}
