{% extends 'base.html' %}

{% block title %}
    {{ user.name }}'s Recordings
{% endblock %}

{% block content %}

    <h2 id='recordings-header'>{{ user.name }}'s Recordings</h2>
    <br>

    <div class='table-responsive'>
        <table class='table table-hover'>
            <tr>
                <th>Name</th>
                <th>Rename</th>
                <th>Public</th>
                <th>Playback</th>
                <th>Delete</th>
                <th>Share</th>
            </tr>

            {% for recording in user.recordings %}
            <tr data-id={{ recording.id }}>
                <td>
                    <div class='recording-name' data-id={{ recording.id }}>
                        {{ recording.name }}
                    </div>
                    <form class='rename-form form-inline hide' action='#' data-id={{ recording.id }}>
                        <div class='form-group'>
                            <input type='text' name='title' value='{{ recording.name }}' />
                            <input type='hidden' name='id' value='{{ recording.id }}' />
                            <button type='button' class='btn btn-default cancel-rename' data-id={{ recording.id }}>
                                <i class="fa fa-times"></i>
                            </button>
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-check"></i>
                            </button>
                        </div>
                    </form>
                </td>

                <td>
                    <button type='button' class='btn btn-default rename-button' data-id={{ recording.id }}>
                        <i class="fa fa-pencil rename-button" aria-hidden="true" data-id={{ recording.id }}></i>
                    </button>
                </td>

                <td>
                    <button type='button' class='btn btn-default toggle-public public' data-id={{ recording.id }}>
                        {% if recording.public %}
                            Make Private
                        {% else %}
                            Make Public
                        {% endif %}
                    </button>
                </td>

                <td>
                    <button type='button' class='btn btn-default playback' data-id={{ recording.id }}>
                        <a href='/listen/{{ recording.id }}' target='_blank'>
                            <i class="fa fa-play playback" aria-hidden="true" data-id={{ recording.id }}></i>
                        </a>
                    </button>
                </td>

                <td>
                    <button class='btn btn-default delete' data-id={{ recording.id }}>
                        <i class="fa fa-trash-o" aria-hidden="true" data-id={{ recording.id }}></i>
                    </button>
                </td>

                <td>
                    <div class="fb-share-button" data-href="http://www.google.com" data-layout="button" data-size="small" data-mobile-iframe="true" data-id={{ recording.id }}><a class="fb-xfbml-parse-ignore" target="_blank" >Share</a></div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

{% block more_scripts %}
    <script src='/static/js/messages.js'></script>
    <script src='/static/js/recordings.js'></script>
{% endblock %}
