{% extends 'base.html' %}

{% block title %}
    Register with Muse!
{% endblock %}

{% block content %}
    <form method='POST' action='/register' id='registration-form'>
        <label for='field-name'>Name*:</label>
            <input type='text' id='field-name' name='name' />
            <br />

        <label for='field-email'>Email Address*:</label>
            <input type='email' id='field-email' name='email' />
            <br />

        <label for='field-password'>Choose Password*:</label>
            <input type='password' id='field-password' name='password' />
            <br />

        <label for='field-confirm-password'>Confirm Password*:</label>
            <input type='password' id='field-confirm-password' />
            <br />

        <label for='field-zipcode'>Postal Code:</label>
            <input type='text' id='field-zipcode' name='zipcode' />
            <br />

        <label for='field-country'>Country:</label>
            <select class="form-control" id="field-country" name='country'>
                {% for country in countries %}
                    <option value={{ country.code }}>{{ country.name }}</option>
                {% endfor %}
            </select>
            <br />

        <input type='submit' class='btn btn-default' />
    </form>
{% endblock %}

{% block more_scripts %}
    <script src='/static/js/messages.js'></script>
    <script src='/static/js/register.js'></script>
{% endblock %}

{% block jasmine_specs %}
    <script src="/static/tests/register-spec.js"></script>
{% endblock %}