{% extends 'base.html' %}

{% block title %}
    Register with Muse!
{% endblock %}

{% block content %}
    <form method='POST' action='/register' id='registration-form'>
        <label for='field-name'>Name*:</label>
            <input type='text' id='field-name' name='name' />
            <br />

        <label for='field-email'>Email Address*:</label>
            <input type='email' id='field-email' name='email' />
            <br />

        <!-- TODO js verify passwords match here -->

        <label for='field-password'>Choose Password*:</label>
            <input type='password' id='field-password' name='password' />
            <br />

        <label for='field-confirm-password'>Confirm Password*:</label>
            <input type='password' id='field-confirm-password' />
            <br />

        <label for='field-zipcode'>Postal Code:</label>
            <input type='text' id='field-zipcode' name='zipcode' />
            <br />

        <label for='field-country'>Country:</label>
            <select id='field-country' name='country'>
                {% for country in countries %}
                    <option value={{ country.code }}>{{ country.name }}</option>
                {% endfor %}
            </select>
            <br />

        <input type='submit' />
        <script>

            var alerts = [];

            function checkPasswordsMatch() {
                var first_pw = $('#field-password').val();
                var second_pw = $('#field-confirm-password').val();

                if (!(first_pw === second_pw)) {
                    alerts.push('Passwords do not match.\n');
                }
            }

            function checkFieldMissing(fieldName) {
                var id = '#field-' + fieldName;
                var fieldValue = $(id).val();

                if (!(fieldValue && (typeof fieldValue === 'string'))) {
                    var message = 'Must fill in ' + fieldName + '.\n';
                    alerts.push(message);
                }
            }

            function formSubmitted(evt){

                checkPasswordsMatch();
                checkFieldMissing('name');
                checkFieldMissing('email');
                checkFieldMissing('password');

                if (alerts.length > 0) {
                    evt.preventDefault();
                    alert(alerts);
                    alerts = [];
                }
            }

            $('#registration-form').submit(formSubmitted);

        </script>

    </form>
{% endblock %}